.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rec-type {
  width: 4em;
  margin: 5px;
  border: 1px #000 solid;
  border-radius: 5em;
  text-align: center;
  padding: 2px;
}

.type-bug {
  background-color: #A8B820;
}

.type-dark {
  background-color: #705848;
  color: #fff;
}

.type-dragon {
  background-color: #7038F8;
  color: #fff;
}

.type-electric {
  background-color: #F8D030;
}

.type-fairy {
  background-color: #EE99AC;
}

.type-fighting {
  background-color: #C03028;
  color: #fff;
}

.type-fire {
  background-color: #F08030;
}

.type-flying {
  background-color: #A890F0;
}

.type-ghost {
  background-color: #705898;
}

.type-grass {
  background-color: #78C850;
}

.type-ground {
  background-color: #E0C068;
}

.type-ice {
  background-color: #98D8D8;
}

.type-normal {
  background-color: #A8A878;
  color: #fff;
}

.type-poison {
  background-color: #A040A0;
  color: #fff;
}

.type-psychic {
  background-color: #F85888;
}

.type-rock {
  background-color: #B8A038;
  color: #fff;
}

.type-steel {
  background-color: #B8B8D0;
}

.type-water {
  background-color: #6890F0;
}
